<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linecorp.bot.spring.boot.mapper.LineUserInfoMapper">
  <resultMap id="BaseResultMap" type="com.linecorp.bot.spring.boot.pojo.entity.LineUserInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="display_name" jdbcType="VARCHAR" property="displayName" />
    <result column="picture_url" jdbcType="VARCHAR" property="pictureUrl" />
    <result column="status_message" jdbcType="VARCHAR" property="statusMessage" />
    <result column="email_addr" jdbcType="VARCHAR" property="emailAddr" />
    <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_id, display_name, picture_url, status_message, email_addr, phone_number, 
    create_time, update_time, remark
  </sql>
  <select id="selectByExample" parameterType="com.linecorp.bot.spring.boot.pojo.entity.LineUserInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from aqv_line_user_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from aqv_line_user_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from aqv_line_user_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.linecorp.bot.spring.boot.pojo.entity.LineUserInfo">
    insert into aqv_line_user_info (id, user_id, display_name, 
      picture_url, status_message, email_addr, 
      phone_number, create_time, update_time, 
      remark)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, #{displayName,jdbcType=VARCHAR}, 
      #{pictureUrl,jdbcType=VARCHAR}, #{statusMessage,jdbcType=VARCHAR}, #{emailAddr,jdbcType=VARCHAR}, 
      #{phoneNumber,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.linecorp.bot.spring.boot.pojo.entity.LineUserInfo">
    insert into aqv_line_user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="displayName != null">
        display_name,
      </if>
      <if test="pictureUrl != null">
        picture_url,
      </if>
      <if test="statusMessage != null">
        status_message,
      </if>
      <if test="emailAddr != null">
        email_addr,
      </if>
      <if test="phoneNumber != null">
        phone_number,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="displayName != null">
        #{displayName,jdbcType=VARCHAR},
      </if>
      <if test="pictureUrl != null">
        #{pictureUrl,jdbcType=VARCHAR},
      </if>
      <if test="statusMessage != null">
        #{statusMessage,jdbcType=VARCHAR},
      </if>
      <if test="emailAddr != null">
        #{emailAddr,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null">
        #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.linecorp.bot.spring.boot.pojo.entity.LineUserInfoExample" resultType="java.lang.Long">
    select count(*) from aqv_line_user_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.linecorp.bot.spring.boot.pojo.entity.LineUserInfo">
    update aqv_line_user_info
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="displayName != null">
        display_name = #{displayName,jdbcType=VARCHAR},
      </if>
      <if test="pictureUrl != null">
        picture_url = #{pictureUrl,jdbcType=VARCHAR},
      </if>
      <if test="statusMessage != null">
        status_message = #{statusMessage,jdbcType=VARCHAR},
      </if>
      <if test="emailAddr != null">
        email_addr = #{emailAddr,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null">
        phone_number = #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.linecorp.bot.spring.boot.pojo.entity.LineUserInfo">
    update aqv_line_user_info
    set user_id = #{userId,jdbcType=VARCHAR},
      display_name = #{displayName,jdbcType=VARCHAR},
      picture_url = #{pictureUrl,jdbcType=VARCHAR},
      status_message = #{statusMessage,jdbcType=VARCHAR},
      email_addr = #{emailAddr,jdbcType=VARCHAR},
      phone_number = #{phoneNumber,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>