<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--<meta http-equiv='Content-type' content='text/html; charset=utf-8'/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>-->
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="https://www.aquiver.app/aquiver.png" />
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no,maximum-scale=1,user-scalable=0" />
    <meta name="format-detection" content="email=no,telephone=no" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="theme-color" content="#000000" />
    <meta property="og:url" content="https://www.aquiver.app" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="aquiver" />
    <meta property="og:description" content="Got a cost-effective buy? Get Coupon Before Shopping" />
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <title>Merchant Activity</title>
    <style>
        p {
            text-indent: 2em;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <a href="https://line-h5-demo-zhenbl.herokuapp.com/">go back</a>
    </div>
    <div class="row clearfix">
        <img src="https://line-h5-demo-zhenbl.herokuapp.com/img/activity01.png" width="100%" height="100%">
    </div>
    <div class="row clearfix">
        <img src="https://line-h5-demo-zhenbl.herokuapp.com/img/activity02.png" width="100%" height="100%" onclick="share()">
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <img th:src="${lineUserInfo.pictureUrl}" class="profile-img img-circle" width="8%" height="8%"/>
            <label id="userName" th:text="${lineUserInfo.displayName}"></label>，Hello, input your phone number:
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column formDev">
            <form class="form-horizontal" role="form">
                <input type="hidden" id="userId" th:value="${lineUserInfo.userId}">
                <input type="hidden" id="phoneNumberTemp" th:value="${lineUserInfo.phoneNumber}">
                <div id="formItem" th:if="${#strings.isEmpty(lineUserInfo.phoneNumber)}">
                    <br>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="phoneNumber" placeholder="please input phone number"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="text" class="form-control" placeholder="verify code（not implement）"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="button" class="btn btn-default" disabled="disabled" value="get verify code"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" id="couponBtn" onclick="getCoupon()">get it</button>
                    </div>
                </div>
            </form>
        </div>
        <br>
        <div class="tip" id="tip">
            <p class="text-warning">You have gotten coupon</p>
        </div>
    </div>
</div>
<br>
<div class="row clearfix">
    <div class="col-md-12">
        <p class="bg-danger">
            invatation logs
        </p>
        <table class="table table-striped table-hover table-checkable">
            <tbody>
            <tr th:each="userShareInfo : ${userShareInfoList}">
                <td width="15%"><img th:src="${userShareInfo.pictureUrl}" width="100%"></td>
                <td width="30%" th:text="${userShareInfo.displayName}"></td>
                <td width="20%" th:text="${userShareInfo.shareStatus}"></td>
                <td width="45%" th:text="${userShareInfo.createTime}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
<script type="application/javascript">
    $(function () {
        var userId = $("#userId").val();
        var uuid = generateUUID();
        $(".line-it-button").attr("data-url", "https://line-h5-demo-zhenbl.herokuapp.com/activity/" + userId + "/" + uuid);

        var phoneNumberTemp = $("#phoneNumberTemp").val();
        if (phoneNumberTemp == '' || phoneNumberTemp == null) {
            $("#tip").hide();
        } else {
            $("#tip").show();
        }
    })

    function generateUUID() {
        var d = new Date().getTime();
        if (window.performance && typeof window.performance.now === "function") {
            d += performance.now(); //use high-precision timer if available
        }
        var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
            var r = (d + Math.random() * 16) % 16 | 0;
            d = Math.floor(d / 16);
            return (c == 'x' ? r : (r & 0x3 | 0x8)).toString(16);
        });
        return uuid;
    }

    function getCoupon() {
        var userId = $("#userId").val();
        var phoneNumber = $("#phoneNumber").val();
        if (phoneNumber == '') {
            alert("必须输入手机号！");
            return;
        }
        $.ajax({
            url: "https://line-h5-demo-zhenbl.herokuapp.com/getCoupon/" + userId + "/" + phoneNumber,
            type: "GET",
            contentType: 'application/json;charset=utf-8',
            dataType: "json",
            success: function (data) {
                if (data.code == "success") {
                    $("#tip").show();
                    $("#formItem").hide();
                }
            }
        });
    }

    function share() {
        var userId = $("#userId").val();
        var uuid = generateUUID();
        window.open("https://social-plugins.line.me/lineit/share?url=" + encodeURIComponent("https://line-h5-demo-zhenbl.herokuapp.com/activity/" + userId + "/" + uuid), "_self");
    }
</script>
</html>
