<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!--    <meta http-equiv='Content-type' content='text/html; charset=utf-8'/>-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1"/>-->
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="https://www.aquiver.app/aquiver.png" />
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no,maximum-scale=1,user-scalable=0" />
    <meta name="format-detection" content="email=no,telephone=no" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="theme-color" content="#000000" />
    <meta property="og:url" content="https://www.aquiver.app" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="aquiver" />
    <meta property="og:description" content="Got a cost-effective buy? Get Coupon Before Shopping" />
    <meta property="og:image" content="https://xjp-production.obs.ap-southeast-3.myhuaweicloud.com/xfe/xfe-aquiver-c/common/aquiver.png" />
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <title>CAMACA welcome you!</title>
    <style>
        p {
            text-indent: 2em;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <img src="https://line-h5-demo-zhenbl.herokuapp.com/img/merch01.png" width="100%" height="100%" alt="CAMACA"/>
    </div>
    <div class="row clearfix">
        <img src="https://line-h5-demo-zhenbl.herokuapp.com/img/merch02.png" width="100%" height="100%" alt="CAMACA"/>
    </div>
    <div class="row clearfix">
        <a href="https://line-h5-demo-zhenbl.herokuapp.com/gotoauthpage" target="_self">
            <img src="https://line-h5-demo-zhenbl.herokuapp.com/img/merch03.png" width="100%" height="100%"/></a>
    </div>
    <br>
    <div class="row clearfix">
        <div class="col-md-12 text-right">
            <label>follow me to get more coupons</label>
            <a href="https://lin.ee/A1QThgY"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/en.png" alt="add friend" height="36" border="0"></a>
        </div>
    </div>
    <br><br>
</div>
</body>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
</html>
